{% extends 'base.html' %}
{% load static %}

{% block title %} Inscription en attente {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Inscription en attente</h3>
                    <p class="card-text">
                        Merci pour votre inscription !<br>
                        Votre compte sera activé par un administrateur lors de la validation de votre inscription.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}