# --- Django ---
Django==4.2.25
asgiref==3.8.1

# --- REST Framework ---
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.10
django-filter==24.3

# --- PostgreSQL ---
psycopg2-binary==2.9.9

# --- CORS & Forms ---
django-cors-headers==4.4.0
django-crispy-forms==2.4
crispy-bootstrap5==2025.6

# --- Models / Lifecycle / Soft delete / History ---
django-lifecycle==1.2.4
django-safedelete==1.4.1
django-simple-history==3.7.0

# --- Celery / Async tasks ---
celery==5.5.3
amqp==5.3.1
billiard==4.2.2
kombu==5.5.4
vine==5.1.0

# --- Utilitaires ---
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyJWT==2.9.0
inflection==0.5.1
packaging==25.0
PyYAML==6.0.3
typing-extensions==4.13.2
sqlparse==0.5.3
tzdata==2025.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
prompt-toolkit==3.0.52
colorama==0.4.6
six==1.17.0
uritemplate==4.1.1
wcwidth==0.2.14
billiard==4.2.2
Django==4.2.25
django-otp==1.6.1
phonenumbers==9.0.16
psycopg2-binary==2.9.9
setuptools==47.1.0


