# # =========================
# # Django Core
# # =========================
# Django==4.2.25
# asgiref==3.8.1
# sqlparse==0.5.3
# tzdata==2025.2
# pytz==2025.2
# whitenoise==6.7.0

# # =========================
# # Django REST Framework
# # =========================
# djangorestframework==3.15.2
# djangorestframework-simplejwt==5.3.1
# drf-yasg==1.21.10
# django-filter==24.3

# # =========================
# # Auth / Security
# # =========================
# django-otp==1.6.1
# django-two-factor-auth==1.17.0
# PyJWT==2.9.0
# pyotp==2.9.0

# # =========================
# # Database
# # =========================
# psycopg2-binary==2.9.9

# # =========================
# # Celery / Async
# # =========================
# celery==5.5.3
# amqp==5.3.1
# billiard==4.2.2
# kombu==5.5.4
# vine==5.1.0

# # =========================
# # Forms / UI
# # =========================
# django-crispy-forms==2.4
# crispy-bootstrap5==2025.6
# django-widget-tweaks==1.5.0

# # =========================
# # Django Utils / Models
# # =========================
# django-cors-headers==4.4.0
# django-lifecycle==1.2.4
# django-safedelete==1.4.1
# django-simple-history==3.7.0
# django-formtools==2.5.1
# django-colorfield==0.14.0
# django-phonenumber-field==8.0.0

# # =========================
# # Files / Images / Export
# # =========================
# pillow==10.4.0
# openpyxl==3.1.5
# et_xmlfile==2.0.0
# qrcode==7.4.2
# pypng==0.20220715.0

# # =========================
# # Data / Utils
# # =========================
# numpy==1.24.4
# pandas==2.0.3
# python-dateutil==2.9.0.post0
# phonenumbers==9.0.16
# PyYAML==6.0.3
# inflection==0.5.1
# packaging==25.0
# typing_extensions==4.13.2
# six==1.17.0

# # =========================
# # HTTP / CLI
# # =========================
# requests==2.32.4
# urllib3==2.2.3
# charset-normalizer==3.4.4
# idna==3.11
# certifi==2025.11.12
# click==8.1.8
# click-didyoumean==0.3.1
# click-plugins==1.1.1.2
# click-repl==0.3.0
# prompt_toolkit==3.0.52
# colorama==0.4.6
# wcwidth==0.2.14
# uritemplate==4.1.1

# # =========================
# # Build
# # =========================
# setuptools==47.1.0
# pip==25.0.1
