<!-- echantillonnages/templates/echantillonnages/ajouter_echantillon_modal.html -->
<div class="modal fade" id="ajouterEchantillonModal" tabindex="-1" aria-labelledby="ajouterEchantillonModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ajouterEchantillonModalLabel">Ajouter un échantillon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="echantillon-form" method="post" action="{% url 'echantillonnages:ajouter' commodite_id=commodite.id %}" class="js-echantillon-form">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
      </form>
    </div>
  </div>
</div>